{% extends "base.html" %}

{% block title %}Welcome to Oneshot{% endblock %}

{% block head %}
	{{ super() }}
	<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
  	<script src="{{url_for('static', filename='js/vue.min.js')}}"></script>
  	<script src="https://unpkg.com/moment@2.17.1"></script>
<!--   		{{ moment.include_jquery() }}
	{{ moment.include_moment() }} -->
{% endblock %}

{% block page_content %}
{% if current_user.is_authenticated %}
	<div id="app"></div>
	<script src="{{url_for('static', filename='js/bullet.js')}}"></script>
	<script src="{{url_for('static', filename='js/bullet-input.js')}}"></script>
	<script src="{{url_for('static', filename='js/app.js')}}"></script>
{% else %}
	<p>ONE SHOT</p>
	
	<!-- <img src="{{url_for('static', filename='pic/index.png')}}"> -->

{% endif %}
{% endblock %}

